# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ambienti virtuali (nomi comuni)
venv/
.venv/
env/
bin/
lib/

# File di sistema (macOS / Windows)
.DS_Store
Thumbs.db

# Dati pesanti o temporanei (opzionale)
*.log
data_raw/